@font-face { 
    font-family: 'CollectorComicBold';
    src: url('/assets/fonts/CollectorComicBold.otf') format('opentype');
}

@font-face { 
    font-family: 'CollectorComic';
    src: url('/assets/fonts/CollectorComic.woff2') format('woff2');
}
@font-face {
    font-family: 'WinkyRough';
    src: url('https://fonts.gstatic.com/s/winkyrough/v1/t5tzIRwIMoSXA0WSPBjQxJzjxc0_NyCBbx8bVSVeMLhA.woff2') format('woff2');
}
#mainSectionScoopbio {
    margin-left: 27vw;
    margin-top: calc(50vh - 17vw);
    border: 1px solid #e707af;
    position: fixed;
    width: 70vw;
    height: fit-content;
    z-index: 100;
}
.topnav {
    background-color: #ffdef6;
    padding: 0.5vw;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
}
#iconTopNav {
    position: fixed;
    height: 5vw;
    width: 5vw;
    margin-left: 0.5vw;
    z-index: 99;
}
.topnav button {
    font-family: 'WinkyRough';
    font-size: 2.2vw;
    -webkit-text-stroke: 1px #e707af;
    background-color: #ffdef6;
    color: #e707af;
    border-radius: 2vw;
    border: none;
    padding: 0.5vw 1vw;
    margin-right: 0.5vw;
    transition: 0.25s ease-in-out;
}

.topnav button:hover {
    background-color: #e707af;
    -webkit-text-stroke: 1px white;
    color: white;
    transform: scale(1.1);
    transition: 0.25s ease-in-out;
}
.topnav button:active {
    background-color: #e707af;
    color: white;
    -webkit-text-stroke: 3px white;
    transform: scale(0.9);
}

body {
    overflow-x: hidden;
    font-family: 'WinkyRough';
    background-color: #FFB3EB;
    margin: 0;
    height: 1000vh;
}
body::-webkit-scrollbar{
    display: none;
}
h1 {
    user-select: none;
    font-family: 'CollectorComicBold';
    font-size: 3vw;
}
#fakeLogo {
    user-select: none;
    font-family: 'CollectorComicBold' !important;
    position: fixed;
    display: flex;
    height: 4.5vw;
    align-items: center;
    margin-left: 6vw;
    font-family: 'WinkyRough';
    font-size: 2vw;
    line-height: 0.85;
    z-index: 40;
}
.scrollContainer{
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 90vh;
    width: 100vw;
    overflow-y: scroll;
}
.scrollContainer::-webkit-scrollbar{
    display: none;
}
.scrollChild {
    margin-top: 7vh;
    display: flex;
    align-items: center;
    height: 100vh;
}
.scrollChild > * {
    width: 50vw;
}
.genericButton {
    color: #fcf2ff;
    border: none;
    border-radius: 0.5vw;
    margin-top: 2vw;
    padding: 10px;
    background-color: #A800A8;
    font-family: 'WinkyRough';
    font-size: 2.5vw;
    transition: 0.25s;
}
.genericButton:hover {
    background-color: #ff7bff;
    border-radius: 0.5vw;
    color: #832087;
}
.genericButton:active {
    transform: translate(10px,10px);
    box-shadow: 0.15vw 0px 0px 0.15vw #a800a8, -0.15vw 0px 0px 0.15vw #a800a8, 0px 0.15vw 0px 0.15vw #a800a8, 0px -0.15vw 0px 0.15vw #a800a8, 0.5vw 0.5vw 0px 0.5vw #2a002a;
}
#mobileNav {
    display: none;
}
.hamburger {
    margin: 2vw;
    margin-left: 85vw;
    z-index: 200;
    display: none;
	position: fixed;
	width: 50px;
	cursor: pointer;
	appearance: none;
	background: none;
	outline: none;
	border: none;
}
.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #4229B9;
	margin: 6px 0px;
	transition: 0.25s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
    display: none;
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	background-color: white;
	padding-top: 120px;
	transition: 0.25s;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
}
@media (max-aspect-ratio: 3/4) {
    #fakeLogo {
        height: 15vw;
        margin-left: 16vw;
        font-size: 3vh;
    }
    .mobile-nav {
        display: flex;
        flex-direction: column;
    }
    .hamburger {
        display: block;
    }
    #desktopNav {
        display: none;
    }
    .topnav {
        height: 15vw;
    }
    
    .topnav a {
        padding: 4vw 2vw;
        font-size: 8vw;
    }
}
